.form {
    margin: 10px auto;
}

.form__labelText {
    width: 120px;
    display: inline-block;
    margin-right: 5px;
}

.form__input {
    background-color: rgb(228, 225, 225);
    border: 1px solid black;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
}

